/* You can add global styles to this file, and also import other style files */
body {
  font-family: Open-Sans, sans-serif;
  background-color: #01010E;
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("src/assets/big-bg_optimized.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
  position: relative;
  outline: none;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 150px;
  border-radius: 10px;
  background: transparent;
  border-width: 4px;
  border-style: solid;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(268.08deg, #11B6DC -0.37%, #E40ECF) border-box;
  border-image-source: linear-gradient(268.08deg, #11B6DC -0.37%, #E40ECF 100%);
  border-image-slice: 1;
  z-index: 1;
}

.button:hover {
  opacity: 0.6;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.button .material-symbols-outlined {
  font-size: 36px !important;
}

.button.btn-lg {
  padding: 15px 150px;
}
.button.btn-sm {
  padding: 10px 70px;
  font-size: 20px;
  line-height: 24px;
}

.button-wrapper {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.app-logo {
  width: 70px;
  height: 50px;
  background-image: url("src/assets/logo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1303px) {
  .button {
    height: 40px;
    border-radius: 20px;
    padding: 0 40px;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  app-root {
    display: flex;
    width: 100%;
  }
}
